<div class="eshop">
		<div class="inner">
			<h6 class="active"><img src="/common/img/footer/icn_cart.svg" alt="">FREETEL eSHOPの購入メリット</h6>
			<div class="merits">
				<div class="merit"><img src="/common/img/footer/fig_eshop_shipping.svg" alt=""><p>送料無料！</p></div>
				<div class="merit"><img src="/common/img/footer/fig_eshop_today.svg" alt=""><p>午前11時までのお申込で<br>最短当日発送！</p></div>
				<div class="merit"><img src="/common/img/footer/fig_eshop_sim.svg" alt=""><p>スマホにSIMをセット<br>済みだからすぐに使える！</p></div>
				<div class="merit"><img src="/common/img/footer/fig_eshop_mnp.svg" alt=""><p>番号そのまま乗り換えが<br>最短5分で完了!</p></div>
				<div class="merit"><img src="/common/img/footer/fig_eshop_auth.svg" alt=""><p>本人確認も自宅で<br>かんたんにできる！</p></div>
			</div>
		</div>
	</div>
<div class="social">
		<div class="inner">
			<ul class="links">
				<li class="first"><a href="https://twitter.com/freetel1" target="_blank"><img src="/common/img/footer/sns_twitter.svg" alt=""><span>Twitter</span></a></li>
				<li><a href="https://www.instagram.com/freetel_official/" target="_blank"><img src="/common/img/footer/sns_instagram.svg" alt=""><span>Instagram</span></a></li>
				<li><a href="https://www.facebook.com/freetel.japan?ref=ts&amp;fref=ts" target="_blank"><img src="/common/img/footer/sns_facebook.svg" alt=""><span>Facebook</span></a></li>
				<li><a href="https://www.youtube.com/channel/UCFXvB5GmJz_L7-JfhrpOz5g" target="_blank"><img src="/common/img/footer/sns_youtube.svg" alt=""><span>Youtube</span></a></li>
				<li class="last"><a href="https://blg.freetel.jp/blog" target="_blank"><img src="/common/img/footer/sns_blog.svg" alt=""><span>blog</span></a></li>
			</ul>
		</div>
	</div>
<div class="jumbotron theme-alt">
    <div class="container">
        <div class="row">
            <div class="col-md-24 text-center">
                <!-- <div class="type-sh4">
                    Designed in Tokyo. FREETEL
                </div> -->
                <div class="col-md-24">
                <div class="type-t9">Copyright© 2012-2017 Plus One Marketing Ltd.</div>
                </div>
            </div>
        </div>
    </div>
</div>
