<nav class="navbar navbar-default">
  <div class="navbar-local color-white theme-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="https://www.freetel.jp" class="navbar-brand center"><img src="./images/logo.png" alt="FREETEL" height="23" /></a>
        <button type="button" class="navbar-toggle collapsed float-right primary" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <i class="glyph glyph-shopping-cart"></i>
        </button>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <i class="glyph glyph-hamburger"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="red" href="colors.html#bootstrap-colors">セットで購入</a></li>
          <li><a class="red" href="colors.html#mdl-colors">単品で購入</a></li>
          <li><a class="red" href="#"><i class="glyph glyph-phone"></i>：03-6833-8817（ご購入専用）</a></li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li><a class="red" href="#">スマホとSIMのセットプラン</a></li>
          <li><a class="red" href="#">おトクなキャンペーン情報</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">スマートフォン<i class="icon-flipviewdown glyph glyph-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li role="separator"  class="divider"></li>
              <li><a href="#">一覧ページ</a></li>
              <li><a href="#">RAIJIN</a></li>
              <li><a href="#">Priori 4</a></li>
              <li><a href="#">REI</a></li>
              <li><a href="#">KIWAMI 2</a></li>
              <li><a href="#">KIWAMI</a></li>
              <li><a href="#">MUSASHI</a></li>
              <li role="separator"  class="divider"></li>
              <li><a href="#">ARIA 2</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">iPhone 6S</a></li>
              <li><a href="#">ZenFone 3</a></li>
              <li><a href="#">ZenFone 3 Laser</a></li>
              <li><a href="#">P10</a></li>
              <li><a href="#">P10 lite</a></li>
              <li><a href="#">P9 lite</a></li>
              <li><a href="#">arrows M03</a></li>
              <li><a href="#">VAIO Phone A</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">販売終了製品一覧</a></li>
            </ul>
          </li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wi-Fiルーター<i class="icon-flipviewdown glyph glyph-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li role="separator"  class="divider"></li>
              <li><a href="#">ARIA 2</a></li>
            </ul>
          </li> -->
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">アクセサリー<i class="icon-flipviewdown glyph glyph-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li role="separator"  class="divider"></li>
              <li><a href="#">一覧ページ</a></li>
              <li><a href="#">RAIJIN</a></li>
              <li><a href="#">Priori 4</a></li>
              <li><a href="#">REI</a></li>
              <li><a href="#">KIWAMI 2</a></li>
              <li><a href="#">KIWAMI</a></li>
              <li><a href="#">MUSASHI</a></li>
            </ul>
          </li> -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SIMカード<i class="icon-flipviewdown glyph glyph-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li role="separator"  class="divider"></li>
              <li><a href="#">for Android</a></li>
              <li><a href="#">for iPhone</a></li>
              <li><a href="#">Prepaid SIM</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">niconico SIM</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">パッケージご利用登録</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">アプリ・オプション<i class="icon-flipviewdown glyph glyph-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li role="separator"  class="divider"></li>
              <li><a href="#">d-マーケット</a></li>
              <li><a href="#">music.jp</a></li>
              <li><a href="#">だれでもカケホーダイ</a></li>
              <li><a href="#">カラダメディカ</a></li>
              <li role="separator"  class="divider"></li>
              <li><a href="#">PREMIUM端末補償</a></li>
              <li><a href="#">つながる端末補償</a></li>
              <li><a href="#">あんしんセキュリティパック</a></li>
              <li><a href="#">FREETEL買取サービス</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">SNSカウントフリー</a></li>
              <li><a href="#">FREETEL Coin</a></li>
              <li><a href="#">電話でパッとMNP</a></li>
              <li><a href="#">自宅でかんたん本人確認</a></li>
            </ul>
          </li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">アプリ<i class="icon-flipviewdown glyph glyph-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li role="separator"  class="divider"></li>
              <li><a href="#">d-マーケット</a></li>
              <li><a href="#">music.jp</a></li>
              <li><a href="#">だれでもカケホーダイ</a></li>
              <li><a href="#">カラダメディカ</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">オプション<i class="icon-flipviewdown glyph glyph-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li role="separator"  class="divider"></li>
              <li><a href="#">PREMIUM端末補償</a></li>
              <li><a href="#">つながる端末補償</a></li>
              <li><a href="#">あんしんセキュリティパック</a></li>
              <li><a href="#">FREETEL買取サービス</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">SNSカウントフリー</a></li>
              <li><a href="#">FREETEL Coin</a></li>
              <li><a href="#">電話でパッとMNP</a></li>
              <li><a href="#">自宅でかんたん本人確認</a></li>
            </ul>
          </li> -->
          <li><a href="#">ニュースリリース</a></li>
          <!-- <li><a href="#">製品アップデート情報</a></li> -->
          <li><a href="#">ショップ・取扱店舗</a></li>
          <li><a href="#">サポート</a></li>
          <!-- <li role="separator" class="divider"></li> -->
          <li><a class="red" href="#">マイページ</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">その他のコンテンツ<i class="icon-flipviewdown glyph glyph-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">APN設定方法</a></li>
              <li><a href="#">料金一覧</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">購入ガイド</a></li>
              <li><a href="#">SIMフリーとは？</a></li>
              <li><a href="#">初めてのSIMフリースマホガイド</a></li>
              <li><a href="#">SIMカードについて各種ご案内</a></li>
              <li><a href="#">携帯電話のマナー</a></li>
              <li><a href="#">CM一覧</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">特定商取引法に基づく表示</a></li>
              <li><a href="#">プライバシーポリシー</a></li>
              <li><a href="#">規約一覧</a></li>
            </ul>
          </li>
          <li><a href="#">会社概要</a></li>
          <li><a href="#">法人のお客様</a></li>
          <li><a href="#">global</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
